td.swot {
  padding: 5px 15px 20px;
  box-sizing: border-box;
  border-top: 0;
  &.top-left {
    border-right: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
  }
  &.top-right {
    border-bottom: 2px solid #f7f7f7;
  }
  &.bottom-left {
    border-right: 2px solid #f7f7f7;
  }
  p {
    color: $orient;
  }
}